@model List<MeyawoPortfolio.Models.tblPricing>
<section class="section" id="pricing">
    <div class="container text-center">
        <p class="section-subtitle">Ne Kadar Ücret Alıyorum ?</p>
        <h6 class="section-title mb-6">Fiyatlandırmam</h6>
        <!-- row -->
        <div class="pricing-wrapper">
            @foreach (var item in Model)
            {
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="@item.ImageUrl"
                             alt="@item.Description">
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">@item.Title</h6>
                        <div class="pricing-card-list">
                            <p>@item.Description</p>
                            <p>@item.PriceDescription</p>
                            <p><i class="ti-shopping-cart-full"></i></p>
                            <p><i class="ti-ticket"></i></p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>TL</span>
                        <span>@item.Price</span>
                    </div>
                    <a href="#contact" class="btn btn-primary mt-3 pricing-card-btn">İletişime Geç!</a>
                </div>
            }

        </div><!-- end of pricing wrapper -->
    </div> <!-- end of container -->
</section>
