﻿@model MeyawoPortfolio.Models.tblProject

@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<h2>Yeni Proje Girişi</h2>
<hr />
<form method="post">
    <div class="form-group">
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-hover" })

    </div>

    <div class="form-group">
        <label>Proje Başlığı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "table table-hover" })
    </div>

    <div class="form-group">
        <label>Proje Görsel Link</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-hover" })
    </div>

    <div class="form-group">
        <label>Github Linki</label>
        @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "table table-hover" })
    </div>

    <div class="form-group">
        <label>Açıklama</label>
        @Html.TextAreaFor(x => x.Description, 4, 1, new { @class = "table table-hover" })
    </div>
    <a href="/Project/Index/" class="btn btn-primary">< Proje Listesi</a>
    <button class="btn btn-success" type="submit">Kaydet</button>
</form>
