@model List<MeyawoPortfolio.Models.tblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Referanslar</h2>

<table class="table table-table table-hover">
    <tr>
        <th> ID</th>
        <th> Ad Soyad</th>
        <th>Açıklama</th>
        <th>Fotograf</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.NameSurname</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td>@item.Status</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/CreateTestimonial/" class=" btn btn-primary">Yeni Referans Girişi</a>
